html,
h1{
  text-size-adjust: 100;
  text-align: center;
 /*text-transform: capitalize;*/
 /*word- spacing:10px;*/
 /*letter- spacing:2px:*/
}
body {
  h2{
    text-size-adjust: 300;
    text-align: center;
  }
  img{
    vertical-align:baseline
  }
  .data-labels{
    text-align: left;
    font: size 0 20px;
    text-align: justify;
    color: cornflowerblue;
    justify-content:center;
    padding: auto;
  }
  .logo-flex{
    display: flex;
    flex-direction: row;
  }
  .bton{
    background-color:var(--blue);
    border: 0;
    border-radius: 5px;
    color: var(--white);
    font-size:20px;
    padding: 10px 25px;
    cursor: pointer;
    margin: 15px;
  }
  background-color: bisque;
  color: dodgerblue;
}
