html,
h1{
  text-size-adjust: 100;
  text-align: center;
 /*text-transform: capitalize;*/
 /*word- spacing:10px;*/
 /*letter- spacing:2px:*/
}
body {
  h2{
    text-size-adjust: 300;
    text-align: center;
  }
  img{
    vertical-align:baseline
  }
 .r{
    text-size-adjust: 300;
    text-align:left;
  }
  
  background-color: bisque;
  color: dodgerblue;
}
